<nav class="navigation">
  <button mat-icon-button aria-label="Betting Advisor Info" (click)="toggleNavigation()" id="nav-toggler">
      <mat-icon>reorder</mat-icon>
  </button>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="showNavigation">
      <mat-tree-node *matTreeNodeDef="let node">
          <a routerLinkActive="active" (click)="onNavigate(node.key)">
              {{node.title}}
              <p class="description">{{node.details}}</p>
          </a>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle [attr.aria-label]="'toggle ' + node.title">
          <span class="group-title">{{node.title}}</span>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.title" style="margin-left: auto">
              <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_less' : 'expand_more'}}
              </mat-icon>
          </button>
      </mat-tree-node>
  </mat-tree>
</nav>
