@import "../../../../assets/sass/main";

.navigation {
  position: fixed;
  top: 54px;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  border-bottom: 1px solid $pale_green;
  z-index: 2;
  overflow: auto;
  background-color: #fff;
  mat-tree {
    height: 90vh;
    mat-tree-node {
      min-height: auto;
      color: $primary_gray;
      cursor: pointer;
      a {
        display: block;
        text-decoration: none;
        font-size: 0.8rem;
        line-height: 0.8rem;
        padding: 0.2rem 1rem;
        font-weight: 500;
        color: $tint_green;
        transition: 0.3s color;
        &:hover {
          color: $primary_gold;
        }
        .description {
          font-size: 0.6rem;
          color: $tint_gray;
          font-style: italic;
          padding: 0.2rem 0;
          margin: 0;
        }
        &.active {
          color: $primary_green;
          font-weight: 700;
          .description {
            color: $primary_gray;
          }
        }
      }
    }
  }
}

@include screen("tablet") {
  .navigation {
    bottom: 0;
    width: 20rem;
    padding: 1rem;
    border-right: calculateRem(1px) solid $pale_green;
    mat-tree {
      height: auto;
    }
  }

  #nav-toggler {
    display: none;
  }
}
