<div class="w3-container flex ba-green-pale">
  <div class="auth-wrapper">
      <div class="w3-card w3-padding-16">
          <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-spinner>
          <form *ngIf="!isLoading && !resetTokenSent" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
              <header class="w3-container w3-center">
                  Please enter your email so we can send password reset link
              </header>
              <div class="w3-container">
                <app-input label="Email" [control]="forgotPasswordForm.get('email')" placeholder="Ex. pat@example.com" inputType="email"></app-input>
              </div>
              <footer class="w3-container">
                  <button mat-stroked-button type="submit" color="primary" class="w3-right" [disabled]="!forgotPasswordForm.valid" >Submit</button>
              </footer>
          </form>
          <p class="w3-margin" *ngIf="resetTokenSent">A link to reset your password have been set to the email address you provided!</p>
      </div>
      <p class="w3-center">Remembered your password? <a mat-button [routerLink]="['/auth', 'login']">Login</a></p>
      <p class="w3-center">Don't have an account? <a mat-button [routerLink]="['/auth', 'register']">SignUp</a></p>
  </div>
</div>
