@import '../../../../variables';

mat-toolbar {
    border-bottom: 1px solid $pale_green;
    background-color: $primary_green;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 54px;
    z-index: 99;
    color: #fff;
}

.mat-menu {
    &-panel {
        border-radius: 0px;
    }
    &-item {
        font-size: .8rem;
        color: $tint_gray;
        height: 32px;
        line-height: 32px;
        transition: .3s color;
        &:hover {
            color: $primary_gold;
        }
    }
}

img {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid $tint_green;
}

.spacer {
    flex: 1 1 auto;
}

#branding {
    text-decoration: none;
    img {
        width: 2.4rem;
        height: 2.4rem;
        border: none;
        border-radius: 0;
    }
}
