<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="aboutMenu" aria-label="Win Advisor Info">
    <mat-icon>help</mat-icon>
  </button>
  <mat-menu #aboutMenu="matMenu">
    <a mat-menu-item (click)="openPage('about')"><mat-icon>help_outline</mat-icon><span>About</span></a>
    <a mat-menu-item (click)="openPage('tos')"><mat-icon>data_usage</mat-icon><span>TOS</span></a>
    <a mat-menu-item (click)="openPage('usage')"><mat-icon>apps</mat-icon><span>App Usage</span></a>
    <a *ngIf="userRole!='unconfirmed'" mat-menu-item (click)="openPage('pricing')"><mat-icon>attach_money</mat-icon><span>Pricing</span></a>
  </mat-menu>
  <span class="spacer"></span>
  <a id="branding" [routerLink]="['/']" title="Win Advisor"><img src="./assets/images/BALogo.svg" alt="Win Advisor"></a>
  <span class="spacer"></span>
  <img *ngIf="user" [src]="user.photo" [alt]="user.username" />
  <button mat-icon-button [matMenuTriggerFor]="userActionsMenu" aria-label="Win Advisor Info">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #userActionsMenu="matMenu">
    <a mat-menu-item [routerLink]="['/tickets']" *ngIf="userRole=='pro'"><mat-icon>library_books</mat-icon><span>My Tickets</span></a>
    <a mat-menu-item (click)="onCreateTicket()" *ngIf="userRole=='pro'"><mat-icon>library_add</mat-icon><span>Create Ticket</span></a>
    <hr *ngIf="userRole=='pro'"/>
    <a mat-menu-item [routerLink]="['/me']" routerLinkActive="active"><mat-icon>account_box</mat-icon><span>Account</span></a>
    <hr />
    <a mat-menu-item (click)="onLogout()"><mat-icon>exit_to_app</mat-icon><span>Logout</span></a>
  </mat-menu>
</mat-toolbar>
