<div class="ba-ticket" *ngIf="ticket">
  <header class="ba-ticket-header">
    <button mat-button color="accent" class="ba-right" (click)="onCloseDialog()" title="Close">&times;</button>
    <h3>{{ ticket.title }}</h3>
    <p>{{ticket.description}}</p>
  </header>
  <div class="ba-ticket-body">
    <div class="ba-ticket-content" *ngIf="ticket.betmatches.length > 0">
      <div  class="ba-ticket-crumb" *ngFor="let match of ticket.betmatches">
        <ba-betmatch [match]="match"></ba-betmatch>
        <button mat-button color="accent" class="ba-remove" title="Remove match from ticket" (click)="onDelete(match.id)">&times;</button>
      </div>
    </div>
  </div>
  <p *ngIf="ticket.betmatches.length === 0">There are no matches in this ticket</p>
</div>
