@import "../../../../assets/sass/main";

h6 {
  color: $tint_green;
  padding: 0;
  margin: 0.1rem;
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0.1rem;
  color: $tint_gray;
}

span {
  background-color: $primary_gold;
}

mat-progress-spinner {
  margin: 1rem auto;
}
