<h6 (click)="navigateToMatch(match.match.sport_key, match.match_id)">{{match.match.home_team}} <strong>VS</strong> {{match.match.away_team}}</h6>
<span *ngIf="match.tip" class="w3-badge w3-animate-left w3-margin-right">{{match.tip}}</span>
<button *ngIf="!editMode" mat-stroked-button (click)="onEdit()" color="primary">{{match.tip ? 'Edit' : 'Add prediction'}}</button>
<mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-spinner>
<form *ngIf="editMode && !isLoading" [formGroup]="betmatchForm" (ngSubmit)="onSave()">
    <mat-form-field>
        <mat-label>Yor prediction</mat-label>
        <input matInput formControlName="tip" placeholder="Ex. 1X">
        <mat-error>Please provide a valid prediction</mat-error>
    </mat-form-field>
    <button mat-stroked-button type="submit" color="primary" class="w3-right" [disabled]="betmatchForm.invalid">Save</button>
</form>
<p>Match start @ {{match.match.commence_time | msToDate }}</p>
