<div class="ba-content">
  <div class="w3-row" *ngIf="match">
      <h1 class="w3-center">{{match.home_team}} <strong> VS </strong> {{match.away_team}}</h1>

      <div class="w3-card details">
          <header>
              <span *ngIf="userRole=='pro'">
                  <button
                  mat-button
                  class="ba-right"
                  title="Add to ticket"
                  color="primary"
                  [matMenuTriggerFor]="addMenu"
                  aria-label="Betting Advisor Info"
                  ><mat-icon>add</mat-icon></button>
                  <mat-menu #addMenu="matMenu">
                      <a mat-menu-item (click)="onCreateTicket()">Create a ticket</a>
                      <a mat-menu-item *ngFor="let ticket of tickets$ | async" (click)="onSaveBetMatch(ticket.id, match.id)">{{ticket.title}}</a>
                  </mat-menu>
              </span>
              <p>Home Team: <span class="info">{{match.home_team}}</span></p>
              <p>Away Team: <span class="info">{{match.away_team}}</span></p>
              <p>Match begins at: <span class="info">{{match.commence_time | msToDate}}</span></p>
          </header>

          <mat-tab-group animationDuration="0ms" mat-stretch-tabs mat-align-tabs="end">
              <mat-tab label="H2H">
                  <ng-template matTabContent>
                    <ba-card
                      [odd_type]="'h2hs'"
                      [match]="match"
                      [odds]="match.h2hs"
                    ></ba-card>
                  </ng-template>
              </mat-tab>
              <mat-tab label="Spreads" [disabled]="userRole!=='pro'">
                  <ng-template matTabContent>
                      <ba-card
                        [odd_type]="'spreads'"
                        [home_team]="match.home_team"
                        [away_team]="match.away_team"
                        [id]="match.id"
                        [key]="match.sport_key"
                      ></ba-card>
                  </ng-template>
              </mat-tab>
              <mat-tab label="Totals" [disabled]="userRole!=='pro'">
                  <ng-template matTabContent>
                    <ba-card
                        [odd_type]="'totals'"
                        [home_team]="match.home_team"
                        [away_team]="match.away_team"
                        [id]="match.id"
                        [key]="match.sport_key"
                    ></ba-card>
                  </ng-template>
              </mat-tab>
          </mat-tab-group>
      </div>
  </div>
</div>
