@import "../../../assets/sass/main";

#ba-splash {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../../../assets/images/background/hand-euro.jpg") center
    no-repeat;
  background-size: cover;

  .content {
    position: absolute;
    height: 24rem;
    top: 50%;
    left: 50%;
    margin-top: -12rem;
    margin-left: -10rem;
    padding: 1rem;
    width: 20rem;

    h6 {
      font-size: 1rem;
      color: #ffffff;
      width: auto;
      margin: 0.2rem 0;
      padding: 0 1rem;
      clear: both;
    }

    h1 {
      clear: both;
      font-size: 2rem;
      color: #ffffff;
    }

    .highlight-gold {
      color: $primary_gold;
    }
  }
}

.overlay-black {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $transparent_black;
}

.carousel {
  &__wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  &__content {
    white-space: nowrap;
    overflow-x: hidden;
    scrollbar-width: none;
    cursor: pointer;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }

  &__heading {
    color: #fff;
    padding: 8px 16px;
  }

  &__item {
    width: 100%;
    display: inline-block;

    @include screen("tablet") {
      width: 50%;
    }

    @include screen("desktop") {
      width: 25%;
    }

    @include screen("monitor") {
      width: 20%;
    }
  }
}

.w3-panel {
  position: relative;
  padding: 0.2rem 7rem 0.2rem 1rem;
  color: $primary_gray;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  border-bottom: 0;
  .w3-tag {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4rem;
    padding: 0.2rem;
  }
}

@include screen("tablet") {
  #ba-splash {
    .content {
      height: 24rem;
      margin-left: -20rem;
      width: 40rem;

      h6 {
        font-size: 1.2rem;
      }

      h1 {
        font-size: 4rem;
      }
    }
  }
}

@include screen("desktop") {
  #ba-splash {
    .content {
      height: 24rem;
      margin-left: -30rem;
      width: 60rem;

      h1 {
        font-size: 4.4rem;
      }
    }
  }
}
