@import "../../../../../variables";

article {
    h2, h4 {
        text-align: center;
    }
}

.ba {
  &-page {
    &-header {
      position: relative;
      text-align: center;
      padding: 1rem;
      h2 {
        color:  $primary_green;
      }
      button {
        position: absolute;
        top: -1rem;
        right: -2rem;
      }
    }

    &-body {
      max-height: 90vh;
      overflow: auto;
      p {
        color: $tint_gray;
        margin-top: 0;
      }
    }

    &-content {
      padding: 0 0.5rem 0.5rem 0.5rem;
      max-height: 70vh;
      overflow: auto;
    }
  }
}

mat-dialog-container {
  background-color: yellowgreen;
}
