<div class="w3-col s12 w3-container ba-page">
  <article *ngIf="page">
      <header class="ba-page-header">
          <button mat-button color="accent" class="ba-right" (click)="onCloseDialog()" title="Close">&times;</button>
          <h2>{{page.title}}</h2>
          <h4>{{page.description}}</h4>
      </header>
      <div class="ba-page-body">
          <div class="ba-page-content" *ngIf="formatedPage && !isPagePricing" [innerHTML]="formatedPage"></div>
          <table *ngIf="isPagePricing" class="w3-table-all w3-centered w3-hoverable">
              <thead>
                <tr>
                  <th></th>
                  <th>Beginner</th>
                  <th>Pro</th>
                </tr>
              </thead>
              <tr>
                  <td class="w3-left-align">Leagues</td>
                  <td>30+</td>
                  <td>30+</td>
              </tr>
              <tr>
                  <td class="w3-left-align">Create Tickets</td>
                  <td class="w3-text-red">&#10007;</td>
                  <td class="w3-text-green">&#10004;</td>
              </tr>
              <tr>
                  <td class="w3-left-align">Organize Matches in tickets</td>
                  <td class="w3-text-red">&#10007;</td>
                  <td class="w3-text-green">&#10004;</td>
              </tr>
              <tr>
                  <td class="w3-left-align">Save Matches</td>
                  <td class="w3-text-red">&#10007;</td>
                  <td class="w3-text-green">&#10004;</td>
              </tr>
              <tr>
                  <td class="w3-left-align">Your Prediction</td>
                  <td class="w3-text-red">&#10007;</td>
                  <td class="w3-text-green">&#10004;</td>
              </tr>
              <tr>
                <td class="w3-left-align">Head-to-head</td>
                <td class="w3-text-green">&#10004;</td>
                <td class="w3-text-green">&#10004;</td>
              </tr>
              <tr>
                <td class="w3-left-align">Spreads</td>
                <td class="w3-text-red">&#10007;</td>
                <td class="w3-text-green">&#10004;</td>
              </tr>
              <tr>
                <td class="w3-left-align">Totals</td>
                <td class="w3-text-red">&#10007;</td>
                <td class="w3-text-green">&#10004;</td>
              </tr>
              <tr>
                  <td></td>
                  <td><span class="w3-padding w3-margin w3-teal w3-border w3-round">Free</span></td>
                  <td><span class="w3-padding w3-margin w3-border w3-green w3-round">50 subscribers</span></td>
              </tr>
            </table>
      </div>
  </article>
</div>
