<div class="totals-chart-wrapper">
  <div class="w3-row">
    <div *ngFor="let total of totals" class="w3-col m3">
      <div class="w3-card w3-padding">
        <h3>{{total.site.name}}</h3>
        <p>{{home_team}} odds <span class="ba-right">{{total.odds_home}}</span></p>
        <p>{{away_team}} odds<span class="ba-right">{{total.odds_away}}</span></p>
        <p>{{home_team}} points <span class="ba-right">{{total.points_home}}</span></p>
        <p>{{away_team}} points<span class="ba-right">{{total.points_away}}</span></p>
      </div>
    </div>
  </div>
</div>
