<div class="ba-content">
  <div class="w3-row" *ngIf="user">
      <div class="w3-col l4 m12 w3-container">
          <div class="w3-card w3-padding user">
              <button *ngIf="user.role!='unconfirmed'" mat-raised-button color="primary" class="edit" (click)="onStartEdit()"><mat-icon>edit</mat-icon></button>
              <img [src]="user.photo" [alt]="user.username" class="photo w3-animate-zoom"/>
              <!-- <button *ngIf="editMode" (click)="filePicker.click()" class="photo-edit-btn" mat-button color="primary">Choose Photo</button> -->
              <div *ngIf="editMode">
                  <button class="w3-margin" type="button" mat-stroked-button color="primary" (click)="filePicker.click()">Upload Photo</button>
                  <button class="w3-margin" type="button" mat-stroked-button color="accent" (click)="onCancelEdit()">Cancel</button>
                  <div class="image-preview" *ngIf="imagePreview && imagePreview != '' && imageForm.get('photo').valid">
                      <img [src]="imagePreview" [alt]="'User Photo'" />
                  </div>
                  <form  [formGroup]="imageForm" (ngSubmit)="onImageSave()" class="w3-animate-zoom">
                      <input type="file" #filePicker (change)="onImagePicked($event)" class="file-input"/>
                      <button type="submit" mat-raised-button color="primary" [disabled]="!imageForm.valid">submit</button>
                  </form>
              </div>

              <p><span>{{user.username}}</span></p>
              <ul class="w3-ul info">
                  <li><p class="w3-animate-right"><mat-icon>email</mat-icon>{{user.email}}</p></li>
                  <li><p class="w3-animate-left"><mat-icon>account_box</mat-icon>{{user.role}}</p></li>
                  <li><p class="w3-animate-right"><mat-icon>group</mat-icon>{{user.createdAt | strToDate}}</p></li>
              </ul>
          </div>
      </div>
      <div class="w3-col l8 m12 w3-container">
          <div class="w3-card w3-padding">
              <h3>User Stats</h3>
              <div *ngIf="user.role=='unconfirmed'" class="w3-panel w3-pale-yellow w3-border">
                  <h6 class="w3-padding">Please activate your account by clicking on the link sent to the email address you provided during sign up. Until then, you can only see the About, ToS and App Usage pages</h6>
              </div>
              <ul class="w3-ul" *ngIf="user.role!='unconfirmed'">
                  <li class="w3-panel w3-light-gray w3-leftbar w3-border-green w3-animate-left">
                      <span class="w3-tag w3-pale-green w3-padding">{{user.recruits || 0}}</span>users signed up with your link
                  </li>
                  <li class="w3-panel w3-light-gray w3-leftbar w3-border-green w3-animate-right">
                      <span class="w3-tag w3-pale-green w3-padding">Recruitment link:</span><code>{{ recruitmentLink + user.username }}</code>
                      <mat-icon title="Copy link" (click)="copyText(recruitmentLink + user.username)">content_copy</mat-icon>
                  </li>
                  <li class="w3-panel w3-padding w3-pale-green w3-leftbar w3-border-green w3-animate-left">
                      Share your Recruitment link with your friends so they can join and you get upgrade:
                  </li>
                  <li class="w3-panel w3-padding w3-pale-green w3-leftbar w3-border-green w3-animate-right">
                      Get 100 users to signup to get Pro account forever
                  </li>
                  <li class="w3-panel w3-light-gray w3-leftbar w3-border-green w3-animate-left">
                      <button class="w3-btn w3-padding w3-pale-green" (click)="openPage('pricing')">Or check pricing page</button>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
