<div class="w3-container flex">
  <div class="auth-wrapper">
      <div class="w3-card w3-padding-16">
          <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-spinner>
          <form [formGroup]="signupForm" (ngSubmit)="onRegister()" *ngIf="!isLoading">
              <header class="w3-container w3-center">Create your account</header>
              <div class="w3-container">
                <app-input label="Username" [control]="signupForm.get('userName')" placeholder="Username" inputType="text"></app-input>
                <app-input label="Email" [control]="signupForm.get('email')" placeholder="Ex. pat@example.com" inputType="email"></app-input>
                <app-input label="Password" [control]="signupForm.get('password')" placeholder="Ex. pass" inputType="password"></app-input>
                <app-input label="Confirm Password" [control]="signupForm.get('passwordConfirm')" placeholder="Ex. pass" inputType="password"></app-input>
                <div class="w3-text-red w3-padding w3-center w3-small" *ngIf="!authCredentialsOK">User or/and email already taken</div>
                <div class="form-info">
                    By signing up you agree to the <a (click)="onLoadInfo('tos')">TOS</a>
                </div>
              </div>
              <footer class="w3-container">
                  <button mat-stroked-button type="submit" color="primary" class="w3-right" [disabled]="!signupForm.valid" >Register</button>
              </footer>
          </form>
      </div>
      <p class="w3-center">Already have an account? <a mat-button [routerLink]="['/auth', 'login']">Log in</a></p>
  </div>
</div>
