@import '../../../../variables';

.auth-wrapper {
    max-width: 420px;
    margin: 10rem auto;
    padding: 2rem 0;
}

mat-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    fill: $pale_green;
    cursor: pointer;
}

mat-progress-spinner {
    margin: 1rem auto;
}

.form-info {
    font-size: .8rem;
    color: $tint_gray;
    padding: 1rem 0;
    a {
        color: $tint_green;
        cursor: pointer;
    }
}
