@import '../../../../variables';

.ba {
    &-container {
        padding: .5rem;
    }
    &-match {
        // border: 1px solid $pale_green;
        box-shadow: 0 0 1rem 1px $pale_green;
        &-header {
            text-align: center;
            padding: 1rem;
            h3 {
                font-family: 'Noto', sans-serif;
                font-size: 1rem;
                color: $primary_green;
                margin: 0;
            }
            p {
                font-style: italic;
                font-weight: 700;
                color: $primary_gray;
                margin: .5rem;
            }
        }

        &-body {
            text-align: center;
            p {
                font-size: .8rem;
                color: $tint_gray;
                margin-top: 0;
                strong {
                    color: #000000;
                }
            }
        }

        &-footer {
            border-top: 1px solid $pale_gray;
            padding: .5rem;
            height: 3.4rem;
        }
    }
}
