<div class="ba-container w3-col l3 m6 s12 w3-animate-zoom">
  <div class="ba-match">
      <header class="ba-match-header">
          <h3>{{match.home_team}}</h3>
          <p>VS</p>
          <h3>{{match.away_team}}</h3>
      </header>
      <div class="ba-match-body">
          <p>Match starts @ <strong>{{match.commence_time | msToDate}}</strong></p>
      </div>
      <footer class="ba-match-footer">
          <button *ngIf="userRole=='pro'"
              mat-button
              class="ba-left"
              title="Add to ticket"
              color="primary"
              [matMenuTriggerFor]="addMenu"
              aria-label="Betting Advisor Info"
          > <mat-icon>add_box</mat-icon> </button>
          <mat-menu #addMenu="matMenu">
              <a mat-menu-item (click)="onCreateTicket()">Create New Ticket</a>
              <a mat-menu-item *ngFor="let ticket of tickets" (click)="onSaveBetMatch(ticket.id, match.id)">{{ticket.title}}</a>
          </mat-menu>
          <a mat-button class="ba-right" title="Match details" [routerLink]="[match.id]" color="primary"><mat-icon>view_list</mat-icon> </a>
      </footer>
  </div>
</div>
