<div class="w3-container">
  <div class="auth-wrapper">
      <div class="w3-card w3-padding-16">
          <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-spinner>
          <form *ngIf="!passReset && !isLoading" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
              <header class="w3-container w3-center">
                  Please enter your new password and confirm it
              </header>
              <div class="w3-container">
                  <mat-form-field class="w3-block">
                      <mat-label>Password</mat-label>
                      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Password">
                      <mat-icon svgIcon="visibility" aria-hidden="false" aria-label="toggle password visibility" (click)="hide = !hide"></mat-icon>
                      <mat-error>Please provide a valid password</mat-error>
                  </mat-form-field>
                  <mat-form-field class="w3-block">
                      <mat-label>Confirm password</mat-label>
                      <input matInput [formControlName]="'passwordConfirm'" [type]="hideConfirm ? 'password' : 'text'" placeholder="Confirm password">
                      <mat-icon svgIcon="visibility" aria-hidden="false" aria-label="toggle password visibility" (click)="hideConfirm = !hideConfirm"></mat-icon>
                      <mat-error>Passwords do not match</mat-error>
                  </mat-form-field>
              </div>
              <footer class="w3-container">
                  <button mat-stroked-button type="submit" color="primary" class="w3-right" [disabled]="!resetPasswordForm.valid">Save new password</button>
              </footer>
          </form>
          <p class="w3-margin" *ngIf="passReset">Your password has been reset. Please <a mat-button [routerLink]="['/auth', 'login']">Login</a></p>
      </div>
  </div>
</div>
