<div class="w3-container flex">
  <div class="auth-wrapper">
      <div class="w3-card w3-padding-16">
          <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-spinner>
          <form *ngIf="!passReset && !isLoading" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
              <header class="w3-container w3-center">
                  Please enter your new password and confirm it
              </header>
              <div class="w3-container">
                <app-input label="Password" [control]="resetPasswordForm.get('password')" placeholder="Ex. pass" inputType="password"></app-input>
                <app-input label="Confirm Password" [control]="resetPasswordForm.get('passwordConfirm')" placeholder="Ex. pass" inputType="password"></app-input>
              </div>
              <footer class="w3-container">
                  <button mat-stroked-button type="submit" color="primary" class="w3-right" [disabled]="!resetPasswordForm.valid">Save new password</button>
              </footer>
          </form>
          <p class="w3-margin" *ngIf="passReset">Your password has been reset. Please <a mat-button [routerLink]="['/auth', 'login']">Login</a></p>
      </div>
  </div>
</div>
