<div class="w3-col s12 w3-container">
  <article>
    <header class="ba-page-header">
      <button mat-button color="accent" class="ba-right" (click)="onCloseDialog()" title="Close">&times;</button>
      <h2>Please enter your details</h2>
    </header>
    <div class="ba-page-body">
      <p>Your subscription: ${{data.ammount}}</p>
      <form class="payment-form">
        <div class="form-group">
          <label for="card" class="w3-text-green">Card Number</label>
          <div #card id="card"></div>
        </div>
        <div class="outcome">
          <p *ngIf="error" class="w3-text-pink">{{error}}</p>
        </div>
        <div class="form-group">
          <button mat-raised-button color="primary" class="w3-block w3-margin-top" (click)="onSubmit()">Confirm</button>
        </div>
        <!-- <div class="form-group">
          <button mat-raised-button color="accent" class="w3-block w3-margin-top" (click)="onCancelSubscription()">Cancel Subscription</button>
        </div>
        <div class="form-group">
          <button mat-button color="primary" class="w3-block w3-margin-top" (click)="onUpdateSubscription()">Update Subscription</button>
        </div> -->
      </form>
    </div>
  </article>
</div>
