@import '../../../../../assets/sass/main';

.w3 {
  &-card {
    h3 {
      text-align: center;
      color: $pale_green;
    }

    p {
      color: $tint_gray;
      margin: .5rem 0;
      font-size: .8rem;
      .ba-right {
        color: $primary_gray;
        font-weight: 700;
        text-align: right;
      }

      .ba-left {
        color: $primary_green;
      }
    }
  }
}
