<div class="spreads-card-wrapper">
  <div class="w3-row">
    <div *ngFor="let spread of spreads" class="w3-col m3">
      <div class="w3-card w3-padding">
        <p><span class="ba-left">{{home_team}}</span> odds <span class="ba-right">{{spread.odds_home}}</span></p>
        <p><span class="ba-left">{{away_team}}</span> odds <span class="ba-right">{{spread.odds_away}}</span></p>
        <p><span class="ba-left">{{home_team}}</span> points <span class="ba-right">{{spread.points_home}}</span></p>
        <p><span class="ba-left">{{away_team}}</span> point <span class="ba-right">{{spread.points_away}}</span></p>
        <h3>{{spread.site.name}}</h3>
      </div>
    </div>
  </div>
</div>
