// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$new-ba-primary: mat-palette($mat-green);
$new-ba-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$new-ba-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$new-ba-theme: mat-light-theme($new-ba-primary, $new-ba-accent, $new-ba-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($new-ba-theme);

/* You can add global styles to this file, and also import other style files */
@import './assets/sass/abstracts/variables';

::-moz-selection {
    color: $primary_gold;
    background: $transparent_green;
}
::selection {
    color: $primary_gold;
    background: $transparent_green;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: .5em;
}
/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $pale_green;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $tint_green;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap');
@import url('./assets/icons/material/material-icons');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gentium Book Basic', serif;
}

hr {
    margin: .5rem 0;
}

img {
    max-width: 100%;
}

.ba {
    &-right,
    &-left {
        min-width: 36px;
        padding: 0;
    }

    &-right {
        float: right;
    }

    &-content {
        padding: 8rem 0 1rem 0;
    }

    &-text {
      &-green {
        color: $primary_green;
      }
      &-gold {
        color: $primary_gold;
      }
    }
}

.flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.auth-wrapper {
  max-width: 420px;
  margin: 10rem auto;
  padding: 2rem 0;
  .w3-card {
    background-color: aliceblue;
  }
}

mat-progress-spinner {
  margin: 1rem auto;
}

@media screen and (min-width: 768px) {
    .ba-content {
      padding: 4rem 0.5rem 1rem 20.5rem;
    }
}
