// Declare your scss variables here and import the file in the coresponding scss file
$primary_green: #248E38;
$transparent_green: rgba(36, 142, 56, .77);
$transparent_black: rgba(0, 0, 0, .9);
$tint_green: #54C479;
$pale_green: #ABDCA7;
$primary_gold: #AFD91A;
$transparent_gold: rgba(175, 217, 26, .5);
$primary_gray: #444;
$tint_gray: #777;
$pale_gray: #eee;
